{{ template "snippets/header.html" . }}

<h2>Change Password</h2>

<div id="change-password">
    <form id="key-change-password-form" method="post">
        <p>
            <label for="old-password">Old Password:</label>
            <input type="password" name="old-password" id="old-password"/>
        </p>
        <p>
            <label for="new-password">New Password:</label>
            <input type="password" name="new-password" id="new-password"/>
        </p>
        <p>
            <label for="retype-new-password">Retype New Password:</label>
            <input type="password" name="retype-new-password" id="retype-new-password"/>
        </p>
        <p>
            <input class="btn" type="submit" value="Change Password"/>
        </p>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.ChangePassword($("#key-change-password-form"), $("#change-password"));
    });
</script>

{{ template "snippets/footer.html" . }}
