
<hr/>

<a class="btn" href="/introducing-memo">Introducing Memo</a>

<a class="btn" href="/profile/1F5GrRezwGokQhxmF4fYaBbbNrPPaeBqMm">Official Memo Profile</a>

<a class="btn" href="protocol">Protocol</a>

<a class="btn" href="/stats">Stats</a>

<script async src="https://www.googletagmanager.com/gtag/js?id={{ .GoogleId }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .GoogleId }}');
</script>

</body>
</html>
