<html>
<head>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}"/>
    <base href="{{ .BaseUrl }}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:type" content="summary"/>
    <meta name="og:title" content="{{ .Title }}"/>
    <meta name="og:description" content="{{ .Description }}"/>
    <meta name="og:image" content="https://memo.cash/logo.png"/>
    <meta name="twitter:site" content="@memobch"/>

    <link rel="shortcut icon" type="image/png" href="/logo.png"/>
{{ range $file := .cssFiles -}}
    <link rel="stylesheet" type="text/css" href="{{ $file }}"/>
{{ end -}}
{{ range $file := .jsFiles }}
    <script type="text/javascript" src="{{ $file }}"></script>
{{- end }}

    <script type="text/javascript">
        $(function () {
            MemoApp.InitCsrf("{{ .CsrfToken }}");
            MemoApp.SetBaseUrl("{{ .BaseUrl }}");
        });
    </script>
</head>
<body>

<div class="header">
    <h1>
        <a href="">
            <img src="/logo.png"/>
            Memo
        </a>
    </h1>

    <div class="nav">
    {{ with .Username }}
        <a class="btn dashboard" href="">Dashboard</a>
    {{ else }}
        <a class="btn" href="">Home</a>
    {{ end }}
        <a class="btn profiles" href="profiles">Profiles</a>
        <a class="btn posts" href="new-posts">Posts</a>
        <a class="btn disclaimer" href="disclaimer">Disclaimer</a>
    {{ with .Username }}
        <a class="btn logout" href="logout">Logout <b>{{ . }}</b></a>
    {{ end }}
    </div>
</div>

<hr/>

<p class="notice">
</p>

<style type="text/css">
    .notice {
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
    }
</style>
