{{ template "snippets/header.html" . }}

<h2>Set Name</h2>

<form id="form-memo-set-name" method="post">
    <p>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" class="form-control" placeholder="Name" autocomplete="on"
               required autofocus>
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password"
               autocomplete="on" required>
    </p>
    <p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Set Name">
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.SetName($("#form-memo-set-name"));
    });
</script>

{{ template "snippets/footer.html" . }}
