{{ template "snippets/header.html" . }}

<h2>Decentralized on-chain social network built on Bitcoin Cash</h2>

<ul class="">
    <li>Create a profile</li>
    <li>Post messages</li>
    <li>Native tipping</li>
    <li>Censorship-proof</li>
    <li>Everything stored on-chain</li>
    <li>Control your private key</li>
    <!--<li>Import your key into your own front-end client</li>-->
</ul>

<p>
    <a class="btn btn-success btn-lg" href="signup">Signup</a>
    &nbsp; or &nbsp;
    <a class="btn btn-primary btn-lg" href="login">Login</a>
</p>

<br/>

<a href="memo-protocol-visual.png" target="_blank">
    <img src="memo-protocol-visual.png" style="border:1px solid black; max-width:450px;"/>
</a>

<p>
    View <a href="/introducing-memo">Introducing Memo</a> announcement.
</p>

{{ template "snippets/footer.html" . }}
